@model IEnumerable<Energizer.Models.Consumer>

@{
    ViewData["Title"] = "Список потребителей";
}

    <h2>Список потребителей</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                Счетчики
            </th>
            <th>
                Трансформаторы тока
            </th>
            <th>
                Трансформаторы напряжения
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <th>
                    <a href="Electricmeters/outdated/@item.ID">Просроч.</a>
                </th>
                <th>
                    <a href="CTs/outdated/@item.ID">Просроч.</a>
                </th>
                <th>
                    <a href="VTs/outdated/@item.ID">Просроч.</a>
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
